<!DOCTYPE html>
<html>
<head>
  <title>The Informant</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-brand">
        <%= link_to "The Informant US", root_path %>
      </div>
      <% if user_signed_in? %>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <%= link_to "New Info", new_info_path %>
          </li>
          <li>
            <%= link_to "Account", edit_user_registration_path %>
          </li>
          <li>
            <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
          </li>
        </ul>
      <% else %>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <%= link_to "Sign Up", new_user_registration_path %>
          </li>
          <li>
            <%= link_to "Sign In", new_user_session_path %>
          </li>
        </ul>
      <% end %>
    </div>
  </nav>
  <div class="container">
    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, class: "alert alert-info" %>
    <% end %>
    <%= yield %>
  </div>
  <footer>
  <section>
    <h3><b>The Informant</b></h3>
    <p><b>Our Phone # is 000 - 000 - 0000</b><br>
    <p class="">The International Politics and Business News</P>
    </p>
  </section>
  <section>
    <h3>Connecter with Us</h3>
    <ul class="social">
      <li><a href="#"><img src="http://www.w3newbie.com/wp-content/uploads/facebook1.png" alt="" /></a></li>
      <li><a href="#"><img src="http://www.w3newbie.com/wp-content/uploads/googleplus.png" alt="" /></a></li>
      <li><a href="#"><img src="http://www.w3newbie.com/wp-content/uploads/twitter1.png" alt="" /></a></li>
      <li><a href="#"><img src="http://www.w3newbie.com/wp-content/uploads/youtube1.png" alt="" /></a></li>
    </ul>
    <p>&copy 2016 - The Informant. All rights reserved.</p>
    <p></p>
  </section>
</footer>
</body>
</html>
